In [2]:
#!pip install faker

In [1]:
import pandas as pd
import numpy as np
from random import randint, choice
from faker import Faker
from datetime import datetime, timedelta
import itertools

In [2]:

fake = Faker()

# Número de nomes únicos para cada coluna
num_names = [350, 800, 1300, 2500, 3800, 5200, 8500, 15000]

# Crie um conjunto para armazenar todos os nomes já usados
used_names = set()

# Gere listas de nomes únicos para cada coluna
names = []
for n in num_names:
    name_list = []
    for _ in range(n):
        name = fake.name()
        # Se o nome já foi usado, adicione um numerador a ele
        while name in used_names:
            name += str(len(name_list))
        name_list.append(name)
        used_names.add(name)
    names.append(name_list)

# Crie um dataframe vazio com 15 mil linhas
df = pd.DataFrame(index=range(max(num_names)))

# Preencha cada coluna do dataframe com seus respectivos nomes
for i, name_list in enumerate(names):
    # Repita a lista de nomes até que ela tenha o mesmo comprimento que o dataframe
    repeated_names = list(itertools.islice(itertools.cycle(name_list), len(df)))
    df[f'Nível_{i+1}'] = repeated_names

df

,Nível_1,Nível_2,Nível_3,Nível_4,Nível_5,Nível_6,Nível_7,Nível_8
0,Tiffany Rogers,Joann Thomas DVM,Christine Schaefer,Philip Duncan,John Jones,Mary Walton,Jasmin Floyd,Jacob Montoya
1,Henry Simon,Spencer Tate,Karen Nelson,Mark Combs,Jeffrey Aguilar,Ariana Williams,Mr. Edward Carter,Chad Brown1
2,Jamie Parks,Stephen Little,Brandon Fowler,Stephanie Perez,Michelle Gomez,Jeremy Carroll,David Rocha,Melvin Ball
3,Mrs. Toni Smith,Patricia Turner,Lawrence Schaefer,Lauren Parker,Angela Stevenson,Heather Price,Keith Schneider,Danny Mora
4,Christopher Miller,Brian Erickson DDS,Matthew Pierce II,Kevin Jones,Mrs. Monique Mills MD,Robert Mullins,Annette Allen4,Kevin Jones4
...,...,...,...,...,...,...,...,...
14995,Gregory Baker,Stephanie Vasquez,Margaret Myers,Elizabeth Foster,Diana Ferguson,Jeffrey Harris4595,Jonathan Hudson,Richard Bennett
14996,Joshua Carlson,Meghan Anderson,Samantha Lee,Elizabeth Lee,Melissa Schmidt,Debra Sweeney,Jasmine Campbell,Jorge Gutierrez
14997,Eugene Lane,Keith Miller,Karen Smith,Valerie Cole,Thomas Foster,Mr. George Baxter,Joseph Gilbert,Beth Pruitt
14998,Nancy Douglas,Allison Mcbride,Melissa Scott,Vanessa Ali,Angel Pham,Christopher Griffin,Paul Grant6498,Daniel Edwards
14999,Samantha Walker,Justin Fletcher,Stacy Edwards MD,Louis Turner,Dalton Warner,Mary Sheppard,Karen Myers,Laura Davis14999

In [41]:
# Exibindo as primeiras linhas do DataFrame
#df.pivot_table(columns=['Nível_8'], aggfunc='size')
df

,coluna_1,coluna_2,coluna_3,coluna_4,coluna_5,coluna_6,coluna_7,coluna_8
0,Jonathon Heath,Omar Hurley,Anthony Turner,Leah Oconnor,Daniel Hernandez,Jordan Burns,Candace Jones,Alexander Reese
1,Troy Chandler,Luke Smith Jr.,Amy Bishop,Megan Anderson,Julie Smith1,Charles Good,Tiffany Page1,Robert Thompson1
2,Rachel Johnson,Barbara Smith,Bryan Jones,Taylor Dean,Jason Clark,Ronald Conrad,Brandi Edwards,Tammie Greene
3,David Morris,Robert Moore,Ms. Krystal Rogers MD,Aaron Porter,Dennis Owens,Laurie Rowland,Valerie Dunn,Austin Malone
4,Robert Vargas,Chelsea Diaz,Stephen Hernandez,Rebecca Mcguire,Brittany Silva,Michael Lambert,Jason Olsen,Jeanne Daugherty
...,...,...,...,...,...,...,...,...
14995,Mark Giles,Mr. Austin Lewis,Brittany Klein,Michael Lee,Shannon Rangel,Douglas Hernandez,Paul Brennan,Miranda Graham
14996,Troy Miller,Erika Leonard,Kelly Rivera,Mr. Brandon Scott Jr.,Kevin Patton3596,Rachel Ware,Michelle Thompson,Patricia Gonzalez14996
14997,Nicholas Bennett,Justin Smith,Amber Reynolds,Breanna Best,Kenneth Schwartz,Spencer Chambers,Shannon Henderson,April Thompson
14998,Michelle Manning,Claudia Bennett,Sara Cunningham,Elizabeth Barrett,Melissa Carter3598,Troy Martinez,Tiffany Wilson,Katherine Cunningham
14999,Diamond Harvey,William Cox,Mr. Martin Martinez,Kenneth Marshall,Dr. Mary Lopez,Lauren Macdonald,Chelsea Rosales,Courtney Garcia

In [3]:
df.to_excel('E:\Estudos\PBI\RLS\hierarquia.xlsx')

In [4]:

# Definindo o número de linhas
num_linhas = 3200000

# Gerando uma lista de vendedores a partir do DataFrame anterior
vendedores = df['Nível_8'].tolist()

# Gerando datas de venda aleatórias de 2022 até hoje
start_date = datetime(2022, 1, 1)
end_date = datetime.today()
date_range = (end_date - start_date).days
datas_venda = [fake.date_between(start_date=start_date, end_date=end_date) for _ in range(num_linhas)]

# Gerando IDs de produtos, quantidades de itens e valores de itens aleatórios
ids_produto = [randint(1, 1000) for _ in range(num_linhas)]
qtde_itens = [randint(1, 100) for _ in range(num_linhas)]
valor_item = [round(np.random.uniform(1, 100), 2) for _ in range(num_linhas)]

# Criando o DataFrame de vendas
df_vendas = pd.DataFrame({
    'Data da Venda': datas_venda,
    'ID Produto': ids_produto,
    'Qtde Itens': qtde_itens,
    'Valor Item': valor_item,
    'Vendedor': np.random.choice(vendedores, num_linhas)
})

In [6]:
df_vendas.to_csv('vendas.csv')